Source: ralph
Section: python
Priority: extra
Maintainer: opensource@allegro.pl
Build-Depends: debhelper, python3.7, python3.7-dev, libmysqlclient-dev, dh-virtualenv , libffi-dev
Standards-Version: 3.9.5

Package: ralph-core
Architecture: amd64
Depends: dpkg, python3.7, libmysqlclient21, libc-bin, debconf ${misc:Pre-Depends}
Description: Ralph is an DCIM/CMDB - asset management for Data Centers/ Back Office.
Homepage: http://ralph.allegrogroup.com
Suggests: mysql-server, redis
