#!/usr/bin/make -f

export DH_VIRTUALENV_INSTALL_ROOT=/opt/ralph

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --python /usr/bin/python3.10 --requirements requirements/prod.txt --verbose

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params="--ignore-missing-info" --exclude=PIL --exclude=_cffi_backend

override_dh_strip:
	dh_strip --exclude=_cffi_backend --exclude=PIL

override_dh_builddeb:
	dh_builddeb -- --no-uniform-compression
